body{
    font-family: "roboto";
    background-color: white;
}
.one{
    background-color: #1F2937;
}
.two{
    background-color:white;
}
.header{
    margin-left: 140px;
    font-size: 24px;
    color: #f9faf8;
}
 .onesection .links,.sectiontwo .text p{
font-size: 18px;
text-decoration-color: #e5e7eb;
}
.links{
    margin-top: 20px;
    margin-right: 70px;
    display: flex;
    gap: 20px;
}
a:link{
    text-decoration: none;
}
button{
    background-color: #3882f6;
    border-radius: 10px;
}

.onesection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 70px;

}
.sectiontwo{
    display: flex;
}
.text{
    margin-left: 140px;
    margin-right: 40px;
}
.sectiontwo h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.image img{
    height: 460px;
    width: 450px;
    margin-right: 70px;
    margin-bottom: 60px;
}
.groupImage{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 80px;
}
img{
    height: 200px; 
    width: 200px;
    border-radius: 10px;
}
.two h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.groupImage p{
    color: black;
    text-align: center;
}
.third {
    background-color: #e5e7eb;
    padding: 70px;
}
.third h2{
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}
.third p{
    text-align: right;
}
.inside{
    display: flex;
    background-color: #3882f6;
    margin: 80px;
    align-items: center;
    justify-content: center;
}
.button button{
    padding: 10px 40px;
    margin:50px;
   margin-left: 160px;
   border-color: white;
}
body .fourth{
    background-color:white;
}
.footer{
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
}